{% extends 'base.html.twig' %}

{% block title %}County index{% endblock %}

{% block body %}
    <h1>County index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>County</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for county in counties %}
            <tr>
                <td>{{ county.id }}</td>
                <td>{{ county.county }}</td>
                <td>{{ county.createdAt ? county.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ county.updatedAt ? county.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_county_show', {'id': county.id}) }}">show</a>
                    <a href="{{ path('app_county_edit', {'id': county.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_county_new') }}">Create new</a>
{% endblock %}
