{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <h1>Service index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Owner_id</th>
                <th>Creator_id</th>
                <th>Updater_id</th>
                <th>Service_status_id</th>
                <th>Service_type_id</th>
                <th>Service_field_id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Adress</th>
                <th>City_id</th>
                <th>County_id</th>
                <th>Country_id</th>
                <th>Deadline</th>
                <th>Price</th>
                <th>Valid_till</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.ownerId }}</td>
                <td>{{ service.creatorId }}</td>
                <td>{{ service.updaterId }}</td>
                <td>{{ service.serviceStatusId }}</td>
                <td>{{ service.serviceTypeId }}</td>
                <td>{{ service.serviceFieldId }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.adress }}</td>
                <td>{{ service.cityId }}</td>
                <td>{{ service.countyId }}</td>
                <td>{{ service.countryId }}</td>
                <td>{{ service.deadline ? service.deadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ service.price }}</td>
                <td>{{ service.validTill ? service.validTill|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ service.createdAt ? service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ service.updatedAt ? service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_service_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_new') }}">Create new</a>
{% endblock %}
