{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Owner_id</th>
                <td>{{ service.ownerId }}</td>
            </tr>
            <tr>
                <th>Creator_id</th>
                <td>{{ service.creatorId }}</td>
            </tr>
            <tr>
                <th>Updater_id</th>
                <td>{{ service.updaterId }}</td>
            </tr>
            <tr>
                <th>Service_status_id</th>
                <td>{{ service.serviceStatusId }}</td>
            </tr>
            <tr>
                <th>Service_type_id</th>
                <td>{{ service.serviceTypeId }}</td>
            </tr>
            <tr>
                <th>Service_field_id</th>
                <td>{{ service.serviceFieldId }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ service.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ service.adress }}</td>
            </tr>
            <tr>
                <th>City_id</th>
                <td>{{ service.cityId }}</td>
            </tr>
            <tr>
                <th>County_id</th>
                <td>{{ service.countyId }}</td>
            </tr>
            <tr>
                <th>Country_id</th>
                <td>{{ service.countryId }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ service.deadline ? service.deadline|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ service.price }}</td>
            </tr>
            <tr>
                <th>Valid_till</th>
                <td>{{ service.validTill ? service.validTill|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ service.createdAt ? service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ service.updatedAt ? service.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_service_index') }}">back to list</a>

    <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
