{% extends 'base/index.html.twig' %}

{% block title %}Uredi uslugu{% endblock %}


{% block body %}
<div class="container">

<div style="margin:40px;">
    <h1 style="margin-bottom: 20px;">Uredi uslugu</h1>

    {{ form_start(form) }}
    {{ form_row(form.image, {label: 'Dodaj sliku ' }) }}
    {{ form_row(form.service_status, {label: 'Status ' }) }}
    {{ form_row(form.service_type, {label: 'Želite li nuditi uslugu (1) ili tražiti uslugu (2)?' }) }}
    {{ form_row(form.service_field, {label: 'Vrsta ' }) }}
    {{ form_row(form.title, {label: 'Naziv ' }) }}
    {{ form_row(form.description, {label: 'Opis ' }) }}
    {{ form_row(form.adress, {label: 'Adresa ' }) }}
    {{ form_row(form.city, {label: 'Grad ' }) }}
    {{ form_row(form.deadline, {label: 'Rok ' }) }}
    {{ form_row(form.price, {label: 'Cijena ' }) }}
    <button style="margin-bottom: 10px; margin-top: 10px;"class="btn btn-primary">{{ button_label|default('Spremi promjene') }}</button>
    {{ form_end(form) }}

    <form method="post" action="{{ path('app_service_user_delete', {'id': service.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
        <button style="margin-bottom:10px;"class="btn btn-danger">Izbriši uslugu</button>
    </form>

    <a href="{{ path('app_profile', {'id' : user.id}) }}">Idi nazad</a>


    </div>
</div>

{% endblock %}
