{% extends 'base/index.html.twig' %}

{% block title %}Moj profil{% endblock %}

{% block body %}
    <div class="container">

    <div style="margin: 40px;">

    {% if profileUser.image != null %}
        {% if 'http' in profileUser.image %}
            <img src="{{ profileUser.image }}" style="object-fit:cover; border-radius: 50%; margin-bottom:20px;" alt="Avatar" width="150px" height="150px">
        {% else %}
            {% set imgPath = 'uploads/' ~ profileUser.image %}
            <img src="{{ asset(imgPath) }}" style="object-fit:cover; border-radius: 50%; margin-bottom:20px;" alt="Avatar" width="150px" height="150px">

        {% endif %}

    {% else %}
        {% set imgPath = 'uploads/generic_profile.png' %}
        <img src="{{ asset(imgPath) }}" style="border-radius: 50%; margin-bottom:20px;" alt="Avatar" width="150px" height="150px">
    {% endif %}

    {% if user == profileUser %}
        <h1 style="margin-bottom:20px;">Moj profil</h1>
    {% else %}
        <h1 style="margin-bottom:20px;">Korisnički profil</h1>
    {% endif %}
    {% if ratings != null%}
        <h4>Prosječna ocjena: {{ averageRating }} / 5 &#9734; </h4>

    {% endif %}

    <table class="table">
        <tbody>
        {% if user == profileUser %}
        <tr>
            <th>Ime</th>
            <td>{{ profileUser.name }}</td>
        </tr>
        <tr>
            <th>Prezime</th>
            <td>{{ profileUser.surname }}</td>
        </tr>
        {% endif %}
        {% if userInformation != null %}
        {% if user == profileUser %}
            <tr>
            <th>Adresa</th>
            <td>{{ userInformation.adress }}</td>
        </tr>
        <tr>
            <th>Grad</th>
            <td>{{ userInformation.city }}</td>
        </tr>
        <tr>
            <th>Županija</th>
            <td>{{ userInformation.county }}</td>
        </tr>
        <tr>
            <th>Država</th>
            <td>{{ userInformation.country }}</td>
        </tr>
            {% endif %}
        <tr>
            <th>Broj mobitela</th>
            <td>{{ userInformation.phoneNumber }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Korisničko ime</th>
            <td>{{ profileUser.username }}</td>
        </tr>
        <tr>
            <th>E-mail adresa</th>
            <td>{{ profileUser.email }}</td>
        </tr>
        </tbody>
    </table>
    {% if user == profileUser %}
        <a class="btn btn-warning" href="{{ path('app_profile_user_edit') }}" role="button">Uredi profil</a>
    {% else %}
        <a class="btn btn-secondary" href="{{ path('app_rate_user', {'id': profileUser.id}) }}" role="button">Ocijeni korisnika</a>

    {% endif %}


    <div style="margin-top: 40px;">
        {% if user == profileUser %}
            <h1 style="margin-bottom: 20px;">Moje usluge</h1>
            <a class="btn btn-success" href="{{ path('app_service_user_new') }}" role="button" style="margin-bottom: 20px;">Nova usluga</a>
        {% else %}
            <h1 style="margin-bottom:20px;">Korisnikove usluge</h1>
        {% endif %}

    </div>




    <div class="row" style="margin-top: 10px;">
    {% if services is not empty %}
        {% for service in services %}

            <div class="col-sm-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text">{{ service.description|u.truncate(30, '...', false) }}</p>
                        <a href="{{ path('app_service_details', {'id': service.id})}}" class="btn btn-primary">Vidi detalje</a>
                    </div>
                </div>
            </div>


        {% endfor %}
    {% else %}
        {% if user == profileUser %}
            <tr>
                <th>Nemate objavljene usluge.</th>
            </tr>
        {% else %}
            <tr>
                <th>Korisnik nema objavljene usluge.</th>
            </tr>

        {% endif %}


    {% endif %}
    </div>

    <div style="margin-top: 40px;">
        {% if user == profileUser %}
            <h1 style="margin-bottom: 20px;">Ocjene mojih usluga</h1>
        {% else %}
            <h1 style="margin-bottom:20px;">Ocjene korisnikovih usluga</h1>
        {% endif %}


        <div class="row">
            {% if ratings is not empty %}
            {% for rating in ratings %}

                <div class="col-sm-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{{ path('app_profile', {'id': rating.rating.rater.id})}}" class="card-title">{{ rating.rating.rater.username }}</a>
                            <p class="card-text">{{ rating.rating.text }}</p>
                            <h4 class="card-text">{{ rating.rating.ratingScore }}/5 &#9734;</h4>
                            <p class="card-text"><b>Objavljeno {{ rating.rating.createdAt ? rating.rating.createdAt|date("d.m.20y.") }}</b></p>


                        </div>
                    </div>
                </div>


            {% endfor %}
            {% else %}
            {% if user == profileUser %}
                <tr>
                    <th>Nemate ocjena.</th>
                </tr>
            {% else %}
                <tr>
                    <th>Korisnik nema ocjena.</th>
                </tr>

            {% endif %}

        </div>

        {% endif %}




    </div>

    </div>


</div>
{% endblock %}
