{% extends 'base/index.html.twig' %}

{% block title %}Ocijeni korisnika{% endblock %}


{% block body %}
<div class="container">

<div style="margin:40px;">
    <h1 style="margin-bottom:20px;">Ocijeni {{ rated.username }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.text, {label: 'Razlog ' }) }}
    {{ form_row(form.rating_score, {label: 'Ocjena ' }) }}
    <button class="btn btn-primary">{{ button_label|default('Ocijeni') }}</button>
    <a href="{{ path('app_profile', {'id' : user.id}) }}">Idi nazad</a>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
