{% extends 'base/index.html.twig' %}

{% block title %}Detalji usluge{% endblock %}


{% block body %}
<div class="container">

<div style="margin:40px;">
    <h1 style="margin-bottom: 20px;">Detalji usluge</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Naziv</th>
            <td>{{ service.title }}</td>
        </tr>
        <tr>
            <th>Opis</th>
            <td>{{ service.description }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ service.serviceStatus }}</td>
        </tr>
        <tr>
            <th>Vrsta</th>
            <td>{{ service.serviceField }}</td>
        </tr>
        <tr>
            <th>Adresa</th>
            <td>{{ service.adress }}</td>
        </tr>
        <tr>
            <th>Grad</th>
            <td>{{ service.city }}</td>
        </tr>
        <tr>
            <th>Županija</th>
            <td>{{ service.county }}</td>
        </tr>
        <tr>
            <th>Država</th>
            <td>{{ service.country }}</td>
        </tr>
        <tr>
            <th>Cijena</th>
            <td>{{ service.price }} €</td>
        </tr>
        <tr>
            <th>Rok usluge</th>
            <td>{{ service.deadline ? service.deadline|date("d.m.20y.") }}</td>
        </tr>
        <tr>
            <th>Objavljeno</th>
            <td>{{ service.createdAt ? service.createdAt|date("d.m.20y.") }}</td>
        </tr>
        {% if images != null %}
            <tr>
                <th>Slike</th>

                <td>
                    {% for image in images %}
                        {% if 'http' in image.image %}

                            <img src="{{ image.image }}" alt="Image"
                                 style="object-fit:cover;
                                            height:500px;
                                            border: solid 1px #CCC">

                        {% else %}
                            {% set imgPath = 'uploads/' ~ image.image %}
                            <img src="{{ asset(imgPath) }}" alt="Image"
                                 style="object-fit:cover;
                                            height:500px;
                                            border: solid 1px #CCC">

                        {% endif %}

                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <th>Slike</th>

                <td>
                    <p>Ova usluga nema slika.</p>
                </td>
            </tr>
        {% endif %}

        </tbody>
    </table>


    {% if user != owner %}

        <a class="btn btn-primary" href="{{ path('app_profile', {'id' : owner.id}) }}" role="button" style="margin-bottom: 20px;">Kontaktiraj</a>


    {% else %}
        <a class="btn btn-warning" href="{{ path('app_service_user_edit',  {'id': service.id})  }}" role="button">Uredi uslugu</a>

    {% endif %}

    </div>

</div>

{% endblock %}
