{% extends 'admin/dashboard/dashboard.html.twig' %}

{% block title %}UserRating index{% endblock %}

{% block data %}
    <h1>UserRating index</h1>
    <br><button onclick="window.location.href='{{ path('app_user_rating_new') }}';" type="button" class="btn btn-primary vertical-center">Create new</button><br><br>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Rater</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_rating in user_ratings %}
            <tr>
                <td>{{ user_rating.id }}</td>
                <td>{{ user_rating.user.name ~ " " ~ user_rating.user.surname }} </td>
                <td>{{ user_rating.rating.rater }}</td>
                <td>{{ user_rating.createdAt ? user_rating.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_rating.updatedAt ? user_rating.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_rating_show', {'id': user_rating.id}) }}">show</a>
                    <a href="{{ path('app_user_rating_edit', {'id': user_rating.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_rating_new') }}">Create new</a>
{% endblock %}
