{% extends 'base.html.twig' %}

{% block title %}ServiceField{% endblock %}

{% block body %}
    <h1>ServiceField</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_field.id }}</td>
            </tr>
            <tr>
                <th>Field</th>
                <td>{{ service_field.field }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ service_field.createdAt ? service_field.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ service_field.updatedAt ? service_field.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_service_field_index') }}">back to list</a>

    <a href="{{ path('app_service_field_edit', {'id': service_field.id}) }}">edit</a>

    {{ include('service_field/_delete_form.html.twig') }}
{% endblock %}
