{% extends 'admin/dashboard/dashboard.html.twig' %}

{% block title %}Rating index{% endblock %}

{% block data %}
    <h1>Rating index</h1>
    <br><button onclick="window.location.href='{{ path('app_rating_new') }}';" type="button" class="btn btn-primary vertical-center">Create new</button><br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rater</th>
                <th>Text</th>
                <th>Rating_score</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rating in ratings %}
            <tr>
                <td>{{ rating.id }}</td>
                <td>{{ rating.rater.name ~ " " ~ rating.rater.surname }} </td>
                <td>{{ rating.text }}</td>
                <td>{{ rating.ratingScore }}</td>
                <td>{{ rating.createdAt ? rating.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rating.updatedAt ? rating.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_rating_show', {'id': rating.id}) }}">show</a>
                    <a href="{{ path('app_rating_edit', {'id': rating.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rating_new') }}">Create new</a>
{% endblock %}
