{% extends 'admin/base.html.twig' %}

{% block title %}ServiceType{% endblock %}

{% block body %}
    <h1>ServiceType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_type.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ service_type.type }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ service_type.createdAt ? service_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ service_type.updatedAt ? service_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_service_type_index') }}">back to list</a>

    <a href="{{ path('app_service_type_edit', {'id': service_type.id}) }}">edit</a>

    {{ include('admin/service_type/_delete_form.html.twig') }}
{% endblock %}
