{% extends 'admin/base.html.twig' %}

{% block title %}ServiceStatus{% endblock %}

{% block body %}
    <h1>ServiceStatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_status.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ service_status.status }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ service_status.createdAt ? service_status.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ service_status.updatedAt ? service_status.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_service_status_index') }}">back to list</a>

    <a href="{{ path('app_service_status_edit', {'id': service_status.id}) }}">edit</a>

    {{ include('admin/service_status/_delete_form.html.twig') }}
{% endblock %}
